html {
    font-family: Verdana, serif;
    background: rgb(40,40,40);
    text-align: center;
    color: rgb(200,200,200);
}

canvas {
    width: 68%;
    height: 68%;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;   
}

canvas:focus {
    outline: none;
}

select {
    background: rgb(40,40,40);
    color: white;
}

button {
    background: rgb(50,50,50);
    color: white;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

#controls {
    position: relative;
    float: left;
    margin-left: 2%;
    margin-top: 6%;
    border: 0.25rem solid rgb(30,30,30);
    border-radius: 0.5rem;
}

table {
    width: 10%;
}

#menu {
    margin: 0 0 2% 0;
}

#screen {
    border: 0.25rem solid rgb(30,30,30);
    border-radius: 0.5rem;
    margin-top: 1%;
}

.controllerButton {
    background: white;
    color: black;
    width: 3rem;
    height: 3rem;
    border: 0.25rem solid rgb(30,30,30);
    border-radius: 0.25rem;
}

#romList {
    position: relative;
}

#controller {
    display: none;
}

@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
    #screen {
        margin-top: 9%;
    }

    canvas {
        width: 90%;
        height: 90%;
    }

    #controller {
        margin-top: 5%;
        display: block;
    }

    #controls {
        display: none;
    }

    .controllerButton {
        width: 5rem;
        height: 5rem;
    }
}

@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px)
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: portrait) {
    #screen {
        margin-top: 9%;
    }

    canvas {
        width: 90%;
        height: 90%;
    }

    #controller {
        margin-top: 5%;
        display: block;
    }

    #controls {
        display: none;
    }

    .controllerButton {
        width: 5rem;
        height: 5rem;
    }
}

@media only screen
and (min-device-width: 375px)
and (max-device-width: 812px)
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: portrait) {
    #screen {
        margin-top: 9%;
    }

    canvas {
        width: 90%;
        height: 90%;
    }

    #controller {
        margin-top: 5%;
        display: block;
    }

    #controls {
        display: none;
    }

    .controllerButton {
        width: 5rem;
        height: 5rem;
    }
}


@media only screen and (device-width: 768px) {
    #screen {
        margin-top: 9%;
    }

    canvas {
        width: 90%;
        height: 90%;
    }

    #controller {
        margin-top: 5%;
        display: block;
    }

    #controls {
        display: none;
    }

    .controllerButton {
        width: 10rem;
        height: 7rem;
    }
}

@media only screen and (max-device-width: 1280px) {
    #controls {
        display: none;
    }
}
